<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td colspan="2">Sign Language </td>
  </tr>
  <tr>
    <td>Symbol</td>
    <td><form id="form2" name="form2" enctype="multipart/form-data" method="post" action="">
      <label>
        <input type="file" name="file" />
        </label>
    </form>
    </td>
  </tr>
  <tr>
    <td>Details</td>
    <td><form id="form3" name="form3" method="post" action="">
      <label>
        <input type="text" name="textfield" />
        </label>
    </form>
    </td>
  </tr>
  <tr>
    <td>Language</td>
    <td><form id="form4" name="form4" method="post" action="">
      <label>
        <input type="text" name="textfield2" />
        </label>
    </form>
    </td>
  </tr>
  <tr>
    <td colspan="2"><form id="form1" name="form1" method="post" action="">
      <label>
      <div align="center">
        <input type="submit" name="Submit" value="Add" />
      </div>
      </label>
    </form>    </td>
  </tr>
</table>
</body>
</html>
