<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td colspan="2">Personal Info </td>
  </tr>
  <tr>
    <td>Name</td>
    <td><form id="form2" name="form2" method="post" action="">
      <label>
        <input type="text" name="textfield" />
        </label>
    </form>    </td>
  </tr>
  <tr>
    <td>PhoneNo</td>
    <td><form id="form3" name="form3" method="post" action="">
      <label>
        <input type="text" name="textfield2" />
        </label>
    </form>    </td>
  </tr>
  <tr>
    <td>Email</td>
    <td><form id="form6" name="form6" method="post" action="">
      <label>
        <input type="text" name="textfield5" />
        </label>
    </form>    </td>
  </tr>
  <tr>
    <td>Address</td>
    <td><form id="form7" name="form7" method="post" action="">
      <label>
        <textarea name="textarea"></textarea>
        </label>
    </form>    </td>
  </tr>
  <tr>
    <td>Country</td>
    <td><form id="form8" name="form8" method="post" action="">
      <label>
        <input type="text" name="textfield6" />
        </label>
    </form>    </td>
  </tr>
  <tr>
    <td>State</td>
    <td><form id="form9" name="form9" method="post" action="">
      <label>
        <input type="text" name="textfield7" />
        </label>
    </form>    </td>
  </tr>
  <tr>
    <td>District</td>
    <td><form id="form10" name="form10" method="post" action="">
      <label>
        <input type="text" name="textfield9" />
        <input type="text" name="textfield8" />
        </label>
    </form>    </td>
  </tr>
  <tr>
    <td>Image</td>
    <td><form action="" method="post" enctype="multipart/form-data" name="form4" id="form4">
      <label>
      <input type="text" name="textfield3" />
      <input type="file" name="file" />
      </label>
    </form>    </td>
  </tr>
  <tr>
    <td>Certificate</td>
    <td><form action="" method="post" enctype="multipart/form-data" name="form5" id="form5">
      <label>
      <input type="text" name="textfield4" />
      <input type="file" name="file2" />
      </label>
    </form>    </td>
  </tr>
  <tr>
    <td colspan="2"><form id="form1" name="form1" method="post" action="">
      <label>
      <div align="center">
        <input type="submit" name="Submit" value="Add" />
      </div>
      </label>
    </form>    </td>
  </tr>
</table>
</body>
</html>
