<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="247" border="1">
  <tr>
    <td width="39">Name</td>
    <td width="35">Place</td>
    <td width="51">Contact</td>
    <td width="35">Email</td>
    <td width="53">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><p><a href="#">Block</a></p>
    <p><a href="#">Unblock</a></p></td>
  </tr>
</table>
</body>
</html>
