{% extends 'admin/admin index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/Feedback_search">
<table class="pull-left table table-secondary">
     <tr>
         <td>
        <label>Date </label>
        <label>
        <input type="date" name="textfield" value="{{ dt }}" required class="form-control" pattern="[A-Z a-z.]{3,25}"/>
      </label>
        <label>
        <input type="submit" name="Submit" value="Search" class="btn btn-primary"/>
        </label>
         </td>
    </tr>
</table>
  <table class="table table-hover table-dark">

    <tr>
      <td>User info</td>
       <td>Expert info</td>
      <td>Feedback</td>
      <td>Rating</td>
        <td>Date</td>
    </tr>
      {% for i in data %}
      <tr>
      <td>{{ i.User.FirstName }} {{ i.User.SecondName }}</td>
      <td>{{ i.Expert.FirstName }} {{ i.Expert.SecondName }}</td>
      <td>{{ i.Feedback }}</td>
      <td>{{ i.Rating }}</td>
      <td>{{ i.Date }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}