<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="475" border="1">
  <tr>
    <td width="37">Name</td>
    <td width="62">PhoneNo </td>
    <td width="33">Email</td>
    <td width="51">Address</td>
    <td width="49">Country</td>
    <td width="31">State</td>
    <td width="43">District</td>
    <td width="1">Image</td>
    <td width="33">Certificate</td>
    <td width="71">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><p><a href="#">Delete</a></p>
    <p><a href="#">Edit</a></p></td>
  </tr>
  <tr>
    <td colspan="10"><form id="form1" name="form1" method="post" action="">
      <label></label>
      <div align="center">
        <input type="submit" name="Submit" value="Add" />
      </div>
    </form>    </td>
  </tr>
</table>
</body>
</html>
