
{% extends 'admin/admin index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/Sugessions_code">

    <P text size="14" align="center">Total Score</P>
    <P font size="18"align="center">{{ sum }}</P>
  <table class="table table-hover table-dark">
      <tr>
      <td>Question</td>
      <td>Answer</td>
    </tr>
      {% for i in data %}
      <tr>
      <td><img src="{{ i.Question.Question.url }}" height="100px" width="100px"></td>
     {% if i.Score == 0 %}

      <td style="color: #721c24">Wrong</td>
      {% else %}
        <td style="color: #008000">Correct</td>
      {% endif %}

    </tr>
      {% endfor %}
  </table>
    <tr>
      <td>Sugession
        <label>
        <textarea name="textarea" required></textarea>
      </label></td>
    </tr>
    <tr>
      <td><label>
        <input type="submit" name="Submit" value="Send" />
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
